@model NationalParks.Models.ViewModels.PlaceViewModel

<div class="container mt-4">
    <h2 class="text-center text-primary">Edit Place</h2>
</div>

<div class="container mt-4">
    <form asp-action="EditPlace" asp-controller="Place">
        <div class="row">
            <div class="col-md-6">
                    <input type="hidden" class="form-control" id="Name"  asp-for="@Model.Place.Id" />
                <div class="mb-3">
                    <label for="Name" class="form-label">Place Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Enter Place Name" asp-for="@Model.Place.Name" />
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="Description" placeholder="Enter Description" asp-for="@Model.Place.Description" />
                </div>
                <div class="mb-3">
                    <label for="Recognitions" class="form-label">Recognitions</label>
                    <input type="text" class="form-control" id="Recognitions" placeholder="Enter Recognitions" asp-for="@Model.Place.Recognitions" />
                </div>
                <div class="mb-3">
                    <label for="Address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="Address" placeholder="Enter Address" asp-for="@Model.Place.Address" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="ReservedArea" class="form-label">Reserved Area</label>
                    <input type="text" class="form-control" id="ReservedArea" placeholder="Enter Reserved Area" asp-for="@Model.Place.ReservedArea" />
                </div>
                <div class="mb-3">
                    <label for="Coordinates" class="form-label">Coordinates</label>
                    <input type="text" class="form-control" id="Coordinates" placeholder="Enter Coordinates" asp-for="@Model.Place.Coordinates" />
                </div>
                <div class="mb-3">
                    <label for="Price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="Price" placeholder="Enter Price" asp-for="@Model.Place.Price" />
                </div>
                 <div class="mb-3">
                    <label for="SundayPrice" class="form-label">SundayPrice</label>
                    <input type="text" class="form-control" id="SundayPrice" placeholder="Enter Sunday Price" asp-for="@Model.Place.SundayPrice" />
                </div>
                  <div class="mb-3">
            <label for="SiteType" class="form-label">Site Type</label>
            <select class="form-select" id="SiteType" asp-for="@Model.Place.SiteTypeId">
                @foreach(var siteType in Model.SiteTypes)
                {
                    <option value="@siteType.Id">@siteType.Name</option>
                }
            </select>
        </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="Location" class="form-label">Location</label>
            <select class="form-select" id="Ubicación" asp-for="@Model.Place.LocationId"> 
                @foreach (var location in Model.Locations)
                {
                    <option  value="@location.Id"  >  @location.Province, @location.Canton,  @location.District  </option>  
                }
            </select> ​ ​ 
        </div> ​ ​ 
        <button type="submit" class="btn btn-primary">Edit Place</button>
    </form>
</div>